/* Styling for the form container */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
 
  padding-bottom: 25%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  }
  
  /* Styling for the form header */
  .form-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Styling for the form fields */
  .form-field {
    margin-bottom: 15px;
    max-width: 300px; /* Adjust the maximum width of the form fields as needed */
    width: 100%;
  }
  
  /* Styling for the form button */
  .form-button {
    margin-top: 10px;
  }
  .form-small-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px
    
  }
  