.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    width: 120px; /* Set a fixed width for the button */
    padding: 8px 16px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  
  .dropdown-button:hover {
    background-color: silver;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 200px;
    padding: 8px 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #e0e0e0;
  }
  